html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: rgb(73, 73, 73);
	padding: 40px
}

.div-wrapper {
	background-color: rgb(224, 232, 235);
	border-radius: 5%;
    height: 800px;
	max-width: 1000px;
	padding: 35px 35px
}

.main-div {
	background-color: white;
	border: 2px solid rgb(190, 188, 188);
	border-radius: 5%;
    height: 100%;
	max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Grandstander:wght@100&display=swap');
.nav-brand {
	color: rgb(96, 35, 139);
	font-family: 'Grandstander', cursive;
	border-bottom: 2px solid rgb(190, 188, 188);
	padding: 0;
}

.budget-font {
	font-family: 'Times New Roman', Times, serif;
	font-size: 35px;
	text-decoration: underline;
}

.total-amount {
	color: green;
	font-size: 40px;
}

.chart {
	max-width: 500px;
	height: 200px;
	border: 1px solid black;
	margin: auto;
	margin-top: 10px;
}

.input-div {
	max-width: 600px;
}



@media (max-width: 600px) {
	.div-wrapper {
		padding: 5px 5px
	}

	body {
		padding: 0;
	}

}